<!doctype html>
{% extends "base.html" %}
{% block content %}
  <style>
    #mc_embed_signup input.button {
      background-color: #0057ab;
    }
  </style>
{% include "banner.html" %}
<div class="container">
  <div class="section">
    <div class="title-area">
      <h1>Get In Touch With Us</h1>
      <div class="separator separator-warning">✻</div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <h3 class="text-primary title-modern"><a class="text-primary" href="http://www.fullerton.edu/ecs/cs/">Cal State Fullerton<br/>Computer Science Department</a></h3>
        <p>800 N State College Blvd.<br/>Fullerton, CA 92834</p>
        <p><span class="text-primary fa fa-phone"><span class="sr-only">phone</span></span> (657) 278-3700</p>
        <p><span class="text-primary fa fa-envelope-o"><span class="sr-only">email</span></span> acmwfullerton@gmail.com</p>
        <p><span class="text-primary fa fa-globe"><span class="sr-only">website</span></span> <a class="text-black" href="http://acmw.ecs.fullerton.edu">  acmw.ecs.fullerton.edu</a></p>
      </div>
      <div class="col-md-8">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
        <form action="https://fullerton.us16.list-manage.com/subscribe/post?u=781fe823d194e542e5661d6b3&amp;id=3618d52369" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2 class="text-center">Subscribe to Our Mailing List!</h2>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_781fe823d194e542e5661d6b3_3618d52369" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="margin:auto;background-color:#0057ab;border: solid 1px #0057ab;padding:5px 15px 5px 15px;color:#FFFFFF;font-size:16px;"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>


{% endblock %}

https://docs.google.com/forms/d/e/1FAIpQLSeIUByi3aWYJUPdDUKPWxDxm5WVlON-KMxPqwKiTr-C6PFmaQ/viewform
