<!doctype html>
{% extends "base.html" %}
{% block content %}
{% include "banner.html" %}
<div class="section section-members">
  <div class="title-area">
    <h1>ACM-W Board Members</h1>
    <div class="separator separator-primary">✻</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/janeenyamak1@csu.fullerton.edu.JPG') }}" alt="Janeen" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">President</span>
              <h2>Janeen Yamak</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:janeenyamak1@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/arelydeleon97@csu.fullerton.edu.jpg') }}" alt="Arely" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Vice President</span>
              <h2>Arely De León</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:arelydeleon97@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/dalisan@csu.fullerton.edu.jpg') }}" alt="Dalisa" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Secretary</span>
              <h2>Dalisa Nguyen</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:dalisan@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/taylornoh@csu.fullerton.edu.JPG') }}" alt="Taylor" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Treasurer</span>
              <h2>Taylor Noh</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:taylornoh@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/nvictoria987@csu.fullerton.edu.jpg') }}" alt="Victoria" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Event Coordinator</span>
              <h2>Victoria Naranjo</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:nvictoria987@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/jeenashetti@csu.fullerton.edu.jpeg') }}" alt="Jeena" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Project Manager</span>
              <h2>Jeena Shetti</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:jeenashetti@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/eugene097@csu.fullerton.edu.jpeg') }}" alt="Eugene" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Webmaster</span>
              <h2>Eugene Lee</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/fall_2020/gracieorozco@csu.fullerton.edu.jpg') }}" alt="Graciela" />
          <div class="over-area" >
            <div class="content">
              <span class="label label-info label-fill">Webmaster</span>
              <h2>Graciela Orozco</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:gracieorozco@csu.fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-members">
  <div class="container">
    <div class="title-area">
      <h2>Faculty Advisors</h2>
      <div class="separator separator-warning">✻</div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/beth.png') }}" alt="Beth" />
          <div class="over-area" >
            <div class="content">
              <h2>Beth Harnick-Shapiro</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:beth.harnick.shapiro@fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="project project-board-member">
          <img src="{{ url_for('static', filename='img/staff/doina.png') }}" alt="Doina" />
          <div class="over-area" >
            <div class="content">
              <h2>Doina Bein</h2>
              <span>
                <a class="btn btn-social btn-email btn-simple" href="mailto:dbein@fullerton.edu">
                  <i class="fa fa-envelope-o" aria-role="email icon"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
