<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
  <div class="container">
    <div class="title-area">
      <h1 class="title">Creative Coding</h1>
      <div class="separator separator-warning">✻</div>
      <iframe width="674" height="350" src="https://www.youtube.com/embed/-62KfMj8KsY" frameborder="0" title="Creative Coding YouTube Video">Please update your web browser to view this video.</iframe>
      <p></p>
      <p>Creative coding is a program whose purpose is to introduce to girl scouts the many ways computer science can be applied to different devices. We've shown girl scouts how to write and understand code in various programming languages by utilizing Scratch, Raspberry Pi's, Ozobots,Turtle Graphics, and Google Cardboards. Our objective is to get girl scouts more enthusiastic about STEM, especially Computer Science.</p>

      <div class="separator separator-warning">✻</div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-5">
          <div class="content">
            <h2>Scratch</h2>
            <p class="text-gray">Scratch is a block based visual programming language that allows girls to create virtual games. This is a great way to be introduced to programming and understanding the basic logic structure.</p>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <img src="/static/img/events/creativecoding1.jpg">
        </div>
      </div>
    </div>

    <div class="card card-plain card-blog">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/img/events/creativecoding2.jpg" alt="creative coding photo">
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="content">
            <h2>Raspberry Pi</h2>
            <p class="text-gray">With Raspberry Pis we introduce bread boards, ultrasonic sensors, Jumper wires, resistors, and led lights .Young girls will use python to program the ultrasonic sensor and the lights on the breadboard. The python script that the girls write will change the LED lights based on the distance of the sensor.</p>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="title-area">-->
<!--      <h1>See you at the next Creative Coding Event!</h1>-->
<!--    </div>-->
  </div>
</div>
{% endblock %}
