<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
    <div class="container">
            <div class="title-area">
              <h1 class="title">STEM Expo</h1>
              <div class="separator separator-warning">✻</div>
              <p>STEM Expo promotes the understanding of the STEM workforce pipeline among young female students, engages the community in encouraging and motivating the younger generation to pursue STEM disciplines, and provides extraordinary mentoring and community collaboration opportunities for Titans.</p>
              <div class="separator separator-warning">✻</div>
            </div>
            <div class="card card-plain card-blog">
                <div class="row">
                    <div class="col-md-5">
                        <div class="content">
                            <h2>Exhibits</h2>
                            <p class="text-gray">STEM Expo promotes the understanding of the STEM workforce pipeline among young female students, engages the community in encouraging and motivating the younger generation to pursue STEM disciplines, and provides extraordinary mentoring and community collaboration opportunities for Titans.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <img src="/static/img/events/stemexpoexhibit.jpg" alt="photo from STEM Expo exhibit">
                    </div>
                </div>
            </div>
<!--        <div class="title-area">-->
<!--            <br></br>-->
<!--            <h1>Join Us For Our Second STEM Expo</h1>-->
<!--            <h5 class="card-category text-warning">October 15, 2017</h5>-->
<!--        </div>-->
    </div>
</div>
    {% endblock %}
