<!doctype html> {% extends "base.html" %} {% block content %} {% include "banner.html" %}
<div class="section">
  <div class="container">
    <div class="title-area">
      <h1 class="title">Titan Lab Tours</h1>
      <div class="separator separator-warning">✻</div>
      <p>Titan Lab Tour is an event for middle school and high school Girl Scouts where we introduce STEM opportunities and labs offered at CSUF. We take these young women on a tour around our campus to give them exposure to a college campus as well as encourage them to pursue a career in the STEM field. </p>
      <div class="separator separator-warning">✻</div>
    </div>
<!--    <div class="title-area">-->
<!--      <h1>See you in 2018!</h1>-->
<!--    </div>-->
  </div>
</div>
{% endblock %}
